@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid rgba(0, 0, 255, 0);
  border-bottom: 16px solid rgba(0, 0, 255, 0);
  width: 160px;
  height: 160px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 1.4s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.shadown_default{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.547);
}

.shadown_default_login{
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.shadow_default_Profile{
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}


.image-dark {
  filter: brightness(50%);
  transition: filter 0.5s ease;
}

.image-bright {
  filter: brightness(100%);
}


/* Alert changes  */
.alert.show {
  animation: show_slide 1s ease forwards;
}

@keyframes show_slide {
  0% {
    transform: translateX(100%); 
  }
  50% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0);
  }
}


/* Remove Input number indicator  */
.custom-input::-webkit-outer-spin-button,
  .custom-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .custom-input {
    -moz-appearance: textfield;
  }


  /* Scroll Width  */

  .scrollable-div::-webkit-scrollbar {
    width: 15px; /* Set the width of the scrollbar */
}

.scrollable-div::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners */
}




/* Cart button animation  */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.bounce_button {
  animation: bounce 2s infinite;
}



/* Shiny button  */

.shine-box {
  overflow: hidden;
}

.shine-box:before {
  position: absolute;
  top: 0;
  left: -500px;
  content: "";
  width: 120px;
  height: 500px;
  background: rgba(255, 255, 255, 0.6);
  transform: skew(-50deg);
  animation: shine 2.8s ease infinite;
}


@keyframes shine {
  from {left: -500px;}
  to {left: 655px;}
}


/* Shiny button  for login */
.shine-box-log {
  overflow: hidden;
}

.shine-box-log:before {
  position: absolute;
  top: 0;
  left: -500px;
  content: "";
  width: 120px;
  height: 500px;
  background: #6c28d94f;
  transform: skew(-50deg);
  animation: shine-log 2.8s ease infinite;
}


@keyframes shine-log {
  from {left: -500px;}
  to {left: 655px;}
}